.Sidebar {
  width: 200px;
  background-color: var(--primary-color);
  position: fixed;
  padding: 10px;
  height: calc(100vh - 60px);
  top: 60px;
  left: 0;
}

.Sidebar ul {
  list-style-type: none;
  padding: 0;
}

.Sidebar li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
